# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# Virtual Environments
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local Data (optional: ignore local parquet files if they get too big, but GitHub Actions updates them)
# For university work, keeping silver/gold is fine, but we can ignore large csv datasets in bronze except the structure
# data/bronze/*.csv
